@import 'src/style/variable';
.generate-bar-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 32px;

  .image-container {
    .type-btn-container {
      padding: 6px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
      border-radius: 10px;

      button {
        width: 50%;
      }
    }
    .image-upload-container {
      background: linear-gradient(225deg, $dark-green 0%, $green 100%);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      & > .image-fake-input {
        position: absolute;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        padding: 0;
        border: 0;
        background-color: white;
        border-radius: 6px;
        cursor: pointer;
      }
      & > input[type="file"] {
      }
    }
  }

  .prompt-container {
    flex: auto;
    display: flex;
    flex-direction: column;

    .contents-container {
      flex: auto;
      .prompt-input {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        min-height: 300px;
        background-color: $input-background ;
      }
    }
  }

  .generate-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;

    button {
      width: 100%;
    }
  }

  .keyword-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 6px;
    column-gap: 8px;
    margin-bottom: 16px;
    .keyword-btn {
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 12px center;
      padding: 10px 24px 10px 36px;
      border: 1px solid $dark-green;
      color: $dark-green;
      font-weight: bold;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
  }
}
