.group-container {
  margin-top: 40px;

  .group-title {
    margin-bottom: 16px;
  }

  .group-main-title {
    font-weight: bold;
  }
  .group-description {
    font-size: 0.9rem;
  }
  .image-upload-container {
    height: 180px;
  }
}