.snackbar-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  align-items: center;

  &.snackbar-type-error {
    background-color: #C1292E;
  }
  &.snackbar-type-success {
    background-color: #72B88D;
  }

  img {
    display: inline-block;
    margin-right: 10px;
    width: 28px;
  }
}
