html {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

