@import 'src/style/variable.scss';

html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: $font-black;
  width: 100%;
  height: 100%;
}

body, #root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

input {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  &:focus-visible {
    outline: none;
  }
}

textarea {
  border: none;
  font-family: inherit;
  font-size: 0.9rem;
  padding: 12px;
  resize: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(14, 42, 71, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

@font-face {
  font-family: "Black Han Sans";
  src: url("../../public/font/BlackHanSans-Regular.ttf") format("truetype");
  font-weight: normal;
}

@import "src/style/component/LeftBar.module";
@import "src/style/component/RightBar.module";
@import "src/style/component/Group.module";
@import "src/style/component/Button.module";
@import "src/style/component/Main.module";
@import "src/style/component/GenerateBar.module";
@import "src/style/component/Progress.module";
@import "src/style/component/SnackBar.module";
@import "src/style/page/Start.module";
@import "src/style/page/MainPage.module";
@import "src/style/layout";